.calendar{
    padding: 10px;
    flex-grow: 6;
    padding-bottom:0px;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;    
}
.calendar .weeks{
    padding:0;
    margin-bottom:0;
}
.calendar .weeks li{
    color: #333;
    width: calc(100% / 7);
    font-size:1.1rem;
    font-weight: 500;
    cursor: default;
    opacity: 0.7;
}
.calendar .weeks .weekend{
    color: red;
}
.calendar .days li{
    z-index: 1;
    position: relative;
    margin-top: 26px;
    font-size: 23px;
}