.event{
background-color:rgb(144, 144, 236);
width:90%;
text-align: center;
border-radius: 5px;
font-weight:500;
display:flex;
justify-content: space-around;
padding: 0px 0px 0.5px 0px;
}
.event .event-title{
color:white;
font-size:1.1rem;
font-weight:600;
flex-grow:3;
text-align: center;
white-space: nowrap;
}
.event .event-title.long{
font-size:0.85rem;
padding: 4px 0;
}
.event .event-title.very-long{
font-size:0.72rem;
padding: 6px 0;
}
.event .close-icon{
font-size:1.3rem;
text-align: center;
color:yellow;
margin-right:2px;
}
.event .close-icon:hover{
color:red;
}
.event.default{
background-color:rgb(237, 203, 136);
}

.booking{
    padding:0;
}
